html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: white;
  background: #01010B;
}

@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-Light.ttf");
  src: url("../../assets/fonts/Jost-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-Regular.ttf");
  src: url("../../assets/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "YourGrace";
  src: url("../../assets/fonts/CoveredByYourGrace-Regular.ttf");
  src: url("../../assets/fonts/CoveredByYourGrace-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-Medium.ttf");
  src: url("../../assets/fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-SemiBold.ttf");
  src: url("../../assets/fonts/Jost-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-SemiBoldItalic.ttf");
  src: url("../../assets/fonts/Jost-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("../../assets/fonts/Jost-Bold.ttf");
  src: url("../../assets/fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Jost";
  font-weight: 400;
  font-size: 24px;
}

.first-title {
  font-size: clamp(2.125rem, 1.839rem + 1.43vw, 3.125rem);
  font-weight: 700;
  line-height: 50px;
  font-family: "Jost";
}
@media (max-width: 600px) {
  .first-title {
    line-height: normal;
  }
}
@media (max-width: 369px) {
  .first-title {
    font-size: 26px;
  }
}

.second-title {
  font-size: clamp(2rem, 1.769rem + 1.16vw, 2.813rem);
  font-weight: 400;
  font-family: "Jost";
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 clamp(1.25rem, 0.81rem + 1.88vw, 2.5rem);
}

.green {
  color: #00B67A;
}

.blue {
  color: #197FE3;
}

.small-circle {
  display: block;
  position: absolute;
  z-index: -10;
  width: 993px;
  height: 993px;
  left: -80px;
  top: 45px;
  border-radius: 993px;
  border: 1px solid #17171F;
}
.small-circle::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 40%;
  transform: translateX(-40%);
  border-radius: 30px;
  background-color: #17171F;
}

.big-circle {
  display: block;
  position: absolute;
  z-index: -10;
  width: 1200px;
  height: 1200px;
  right: 0;
  top: -70px;
  border-radius: 993px;
  border: 1px solid #17171F;
}
.big-circle::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 30%;
  transform: translateX(-30%);
  top: 35px;
  border-radius: 30px;
  background-color: #17171F;
}

.elipse-decor {
  position: relative;
}
.elipse-decor::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  right: 0;
  z-index: -5;
  border-radius: 100%;
  background: url("../../assets/icons/elipse-blue.svg") center/cover no-repeat;
  filter: blur(100px);
}

.border-black-container {
  position: relative;
  background: linear-gradient(to right, #01010b, #01010b) padding-box, linear-gradient(to top, rgba(255, 255, 255, 0.1) 5%, white 99%, rgba(255, 255, 255, 0.1)) border-box;
  border-top-right-radius: 56px;
  border-right: 2px solid transparent;
  z-index: 2;
}
@media (max-width: 1024px) {
  .border-black-container::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .border-black-container {
    background: linear-gradient(to right, #01010b, #01010b) padding-box, linear-gradient(to top, #01010b 40%, black, rgba(255, 255, 255, 0.1) 20%) border-box;
  }
}
.border-black-container_without-image::before {
  display: none;
}
.border-black-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #01010b, #01010b) padding-box, linear-gradient(to right, rgba(255, 255, 255, 0.1) 5%, white 99%, rgba(255, 255, 255, 0.1)) border-box;
  top: 0;
  left: 0;
  border-radius: inherit;
  border-top: 2px solid transparent;
  z-index: -1;
}
.border-black-container::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 74px;
  width: 144px;
  height: 108px;
  background: url("../../assets/icons/logo.svg") center/contain no-repeat;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #01010B;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #197FE3;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.dont-wast-time {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  z-index: 2;
}
.dont-wast-time::after {
  content: "";
  position: absolute;
  background: center/contain no-repeat;
  background-image: url("../../assets/icons/driver-easy.svg");
  width: clamp(8.125rem, 5.278rem + 14.23vw, 18.125rem);
  height: auto;
  height: 236px;
  bottom: -40px;
  right: 20px;
  filter: blur(2.5px);
  z-index: -1;
  filter: blur(2.5px);
}
.dont-wast-time__text {
  font-size: clamp(1.375rem, 0.966rem + 2.05vw, 2.813rem);
  font-weight: 300;
  font-family: "Jost";
}

.-bottom-150::after {
  bottom: -150px;
}

.hidden {
  display: none;
}

.button {
  display: inline-block;
  max-width: 250px;
  min-width: 160px;
  width: 100%;
  padding: 12px 25px;
  background-color: #197FE3;
  border-radius: 32.5px;
  transition: all 0.3s ease;
  font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
  font-weight: 400;
  font-family: "Jost";
}
.button_transparent {
  background-color: transparent;
  border: 1px solid #FFF;
}
.button_download {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  white-space: nowrap;
}
@media (max-width: 744px) {
  .button_download {
    width: clamp(10.313rem, 6.303rem + 20.05vw, 15.625rem);
    padding-right: clamp(0.688rem, 0.473rem + 1.07vw, 1.438rem) !important;
    padding-left: clamp(0.688rem, 0.473rem + 1.07vw, 1.438rem) !important;
  }
}
.button_download:hover {
  background-color: white;
  color: #197FE3;
}
.button_download:hover svg {
  color: #197FE3;
}
.button_download-img {
  flex-shrink: 0;
  transition: color 0.3s ease;
  width: 32px;
  height: 32px;
  color: white;
}
@media (max-width: 744px) {
  .button {
    padding: 10px clamp(1.875rem, 1.545rem + 1.41vw, 2.813rem);
  }
}
.button:hover {
  transform: translateY(-8px);
}
.button:active {
  transform: translateY(-4px);
}

.logo {
  width: clamp(5.313rem, 4.652rem + 3.3vw, 7.625rem);
}
.logo__img {
  height: 100%;
  object-fit: cover;
}

.hero {
  height: calc(100vh - 126px);
  max-height: 1000px;
  min-height: 660px;
  position: relative;
  padding-left: clamp(0rem, -0.268rem + 1.34vw, 0.938rem);
  padding-right: clamp(0rem, -0.268rem + 1.34vw, 0.938rem);
  margin-top: 126px;
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .hero {
    height: 770px;
    margin-top: 120px;
  }
}
@media (max-width: 600px) {
  .hero {
    margin-top: 100px;
  }
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  max-width: 98%;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: 0 auto;
  background: url("../../assets/img/banner.jpg") center/cover no-repeat;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  z-index: -1;
}
@media (max-width: 1024px) {
  .hero::after {
    background-position: bottom -150px right -200px;
  }
}
@media (max-width: 600px) {
  .hero::after {
    background-position: bottom -150px right -300px;
  }
}
@media (max-width: 400px) {
  .hero::after {
    background: url("../../assets/img/mobile-banner.jpg") center/cover no-repeat;
  }
}
.hero__content {
  max-width: 730px;
  padding-top: clamp(1.563rem, 0.527rem + 5.18vw, 5.188rem);
  padding-bottom: clamp(1.563rem, -0.723rem + 11.43vw, 9.563rem);
}
.hero__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero__text {
  font-size: clamp(1.125rem, 1rem + 0.63vw, 1.563rem);
  font-weight: 400;
  font-family: "Jost";
  color: #8690A1;
  margin-bottom: clamp(1.063rem, 0.902rem + 0.8vw, 1.625rem);
}
.hero__text span {
  display: block;
}
.hero__btn {
  margin-bottom: clamp(0.625rem, 0.446rem + 0.89vw, 1.25rem);
}
.hero__available {
  display: block;
  margin-bottom: 50px;
  letter-spacing: 0.09px;
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  font-weight: 400;
  font-family: "Jost";
}
@media (max-width: 1024px) {
  .hero__available {
    margin-bottom: 100px;
  }
}
@media (max-width: 744px) {
  .hero__available {
    margin-bottom: 150px;
  }
}
@media (max-width: 400px) {
  .hero__available {
    margin-bottom: 120px;
  }
}
@media (max-width: 369px) {
  .hero__available {
    margin-bottom: 80px;
  }
}
.hero__awards {
  display: flex;
  column-gap: clamp(1rem, 0.714rem + 1.43vw, 2rem);
  padding: 13px 17px;
  overflow: hidden;
}
@media (max-width: 600px) {
  .hero__awards {
    padding-right: 0;
  }
}
.hero__awards li {
  flex-shrink: 0;
  user-select: none;
}
@media (max-width: 600px) {
  .hero__awards li {
    letter-spacing: -1px;
  }
}
@media (max-width: 400px) {
  .hero__awards li {
    letter-spacing: -1px;
  }
}
.hero__awards-item {
  padding: 20px 17px 12px 17px;
  width: 192px;
  border-radius: 4px;
  border: 1px solid rgba(65, 85, 114, 0.5);
  background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);
  backdrop-filter: blur(5px);
}
.hero__awards-image-box {
  height: 30px;
}
.hero__awards-icon-box {
  height: 32px;
}
.hero__awards-suptext {
  font-size: 32px;
  font-weight: 300;
  font-family: "Jost";
}
.hero__awards-subtext {
  font-size: 16px;
  font-weight: 600;
  font-family: "Jost";
  display: block;
  margin-bottom: 25px;
}

.award {
  padding: 13px 17px 6px 17px;
  width: 192px;
  border-radius: 4px;
  border: 1px solid rgba(65, 85, 114, 0.5);
  background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.1) 100%);
  backdrop-filter: blur(5px);
}
.award__image-box {
  width: 77px;
  height: 116px;
  margin-bottom: 12px;
}
.award__image {
  height: 100%;
  object-fit: cover;
}
.award__suptext {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 300;
  line-height: 20px;
  font-family: "Jost";
  text-transform: capitalize;
}
.award__subtext {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  font-family: "Jost";
}

.advantage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(20.125rem, 19.714rem + 2.05vw, 21.563rem);
  padding: 35px 14px;
  border-radius: 19px;
  border: 1px solid #17171F;
  background: #0A0A14;
}
@media (min-width: 0) and (max-width: 743px) {
  .advantage {
    width: 100%;
    padding-right: 20px;
    flex-direction: row;
    column-gap: 15px;
    text-align: start;
  }
}
.advantage::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  inset: 0;
  opacity: 0;
  background: radial-gradient(100% 100% at 50% 100%, #7686B6 0%, #375DAE 32.69%, rgba(0, 0, 0, 0) 100%), #0A0A14;
  filter: blur(20px);
  transition: opacity 0.4s ease;
}
.advantage:hover::after {
  opacity: 1;
}
.advantage:hover svg {
  stroke: #197FE3;
}
.advantage__image-box {
  flex-shrink: 0;
  z-index: 2;
  width: 82px;
  height: 82px;
  margin-bottom: 21px;
  transition: stroke 0.4s ease;
  stroke: #00B67A;
}
.advantage__text {
  user-select: none;
  z-index: 2;
  font-size: 32px;
  font-weight: 400;
  font-family: "Jost";
}
@media (max-width: 744px) {
  .advantage__text {
    font-size: clamp(1.125rem, 0.465rem + 3.3vw, 2rem);
    font-weight: 400;
    font-family: "Jost";
  }
}

.driver {
  display: flex;
  align-items: center;
  column-gap: clamp(1.25rem, 0.354rem + 3.77vw, 3.75rem);
  padding: 13px;
  position: relative;
  user-select: none;
}
@media (max-width: 744px) {
  .driver:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 400px) {
  .driver {
    column-gap: 29px;
  }
}
.driver:hover span.driver__decor {
  opacity: 1;
}
.driver:not(:nth-child(3), :nth-child(4)) svg {
  transition: all 0.3s ease;
}
.driver:nth-child(8):hover img {
  filter: invert(45%) sepia(62%) saturate(3656%) hue-rotate(128deg) brightness(80%) contrast(101%);
}
.driver:nth-child(1) svg, .driver:nth-child(5) svg, .driver:nth-child(7) svg, .driver:nth-child(9) svg, .driver:nth-child(10) svg, .driver:nth-child(12) svg {
  color: #197FE3;
}
.driver:nth-child(1):hover svg, .driver:nth-child(5):hover svg, .driver:nth-child(7):hover svg, .driver:nth-child(9):hover svg, .driver:nth-child(10):hover svg, .driver:nth-child(12):hover svg {
  color: #00B67A;
}
.driver:nth-child(2) svg, .driver:nth-child(6) svg, .driver:nth-child(11) svg {
  stroke: #197FE3;
}
.driver:nth-child(2):hover svg, .driver:nth-child(6):hover svg, .driver:nth-child(11):hover svg {
  stroke: #00B67A;
}
.driver:nth-child(3):hover svg, .driver:nth-child(4):hover svg {
  filter: invert(45%) sepia(62%) saturate(3656%) hue-rotate(128deg) brightness(80%) contrast(101%);
}
.driver__img {
  max-width: 80px;
  min-width: 69px;
  width: 100%;
  height: 69px;
}
.driver__text {
  font-size: clamp(1.375rem, 1.241rem + 0.57vw, 1.75rem);
  font-weight: 400;
  font-family: "Jost";
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #00B67A;
  box-shadow: 0px 5.486px 10.971px 0px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
}
@media (min-width: 0) and (max-width: 743px) {
  .driver__text {
    white-space: normal;
  }
}
.driver__decor {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #8690A1;
  margin: -13px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.driver__decor::after, .driver__decor::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #8690A1;
  background: #8690A1;
  position: absolute;
}
.driver__decor::before {
  top: -7px;
  left: -7px;
}
.driver__decor::after {
  bottom: -7px;
  left: -7px;
}
.driver__decor span {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #8690A1;
  background: #8690A1;
}
.driver__decor-first {
  top: -7px;
  right: -7px;
}
.driver__decor-second {
  bottom: -7px;
  right: -7px;
}

#chipset {
  color: black;
}

.function {
  max-width: 345px;
  width: 100%;
}
@media (max-width: 744px) {
  .function {
    max-width: 100%;
  }
}
.function__img-box {
  width: 60px;
  height: 60px;
  margin-bottom: clamp(0.625rem, 0.43rem + 0.91vw, 1.25rem);
}
.function__title {
  margin-bottom: clamp(0.625rem, 0.43rem + 0.91vw, 1.25rem);
  font-size: clamp(1.375rem, 1.18rem + 0.91vw, 2rem);
  font-weight: 400;
  font-family: "Jost";
  min-height: 95px;
}
@media (max-width: 1024px) {
  .function__title {
    max-width: 255px;
    min-height: 80px;
  }
}
@media (max-width: 600px) {
  .function__title {
    max-width: 100%;
  }
}
.function__text {
  font-size: clamp(1.125rem, 1.008rem + 0.55vw, 1.5rem);
  font-weight: 400;
  font-family: "Jost";
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 600px) {
  .function__text {
    max-width: 310px;
  }
}

@media (max-width: 699px) {
  .function__title {
    min-height: auto;
  }
}
.review {
  max-width: 595px;
  height: 100%;
  padding: 52px 31px 0 0;
  position: relative;
  border-top-right-radius: 48px;
  border-right: 1.2px solid white;
}
.review::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 40px;
  width: 90%;
  height: 0.8px;
  background: linear-gradient(to right, transparent, white);
  filter: blur(0.1px);
}
.review__text {
  font-size: clamp(1.125rem, 1.037rem + 0.38vw, 1.375rem);
  font-weight: 400;
  line-height: 31.2px;
  font-family: "Jost";
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .review__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.review__user {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.review__user-img-box {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}
.review__user-rating-list {
  display: flex;
}

@media (max-width: 1140px) {
  .review {
    max-width: 100%;
    width: 100%;
  }
}
#instructions-swiper {
  width: clamp(21rem, 13.651rem + 34.18vw, 44.5rem);
  height: clamp(15.75rem, 10.238rem + 25.64vw, 33.375rem);
}
@media (max-width: 369px) {
  #instructions-swiper {
    width: 280px;
  }
}
#instructions-swiper div.swiper-slide {
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#instructions-swiper div.swiper-slide img {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-sm {
  max-width: 570px !important;
  transition: max-width 0.4s ease;
  margin-right: 20px;
}
.swiper-slide-sm_active {
  max-width: 650px !important;
}

.swiper-slide-opacity {
  opacity: 0.2 !important;
  transition: opacity 0.4s ease;
}
.swiper-slide-opacity_active {
  opacity: 1 !important;
}

@media (max-width: 1140px) {
  #customers-swiper div.swiper-slide {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 15px;
  }
  .swiper-slide-sm {
    margin-right: 0;
  }
}
@media (max-width: 1380px) {
  .swiper-slide-sm {
    max-width: 650px !important;
  }
  .swiper-slide-opacity {
    opacity: 1 !important;
  }
}
.header {
  height: 126px;
  background: rgba(9, 10, 19, 0.8);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
@media (max-width: 744px) {
  .header {
    height: 120px;
  }
}
@media (max-width: 600px) {
  .header {
    height: 100px;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 40px;
  padding: 15px 0 17px 0;
}
.header__avard {
  width: clamp(11rem, 9.864rem + 2.44vw, 12.063rem);
  padding-left: 29px;
  border-left: 1px solid #8690A1;
  padding-top: 11px;
  flex-shrink: 0;
}
@media (min-width: 0) and (max-width: 743px) {
  .header__avard {
    display: none;
  }
}
.header__download {
  flex-grow: 1;
  text-align: end;
  font-size: clamp(1rem, 0.893rem + 0.54vw, 1.375rem);
}
.header__download-btn {
  padding-left: clamp(1.563rem, 1.205rem + 1.79vw, 2.813rem);
  padding-right: clamp(1.563rem, 1.205rem + 1.79vw, 2.813rem);
}
@media (max-width: 1024px) {
  .header__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    margin-left: auto;
    row-gap: 5px;
  }
}
.header__download-text {
  margin-right: 70px;
  color: #00B67A;
  font-size: clamp(0.875rem, 0.732rem + 0.71vw, 1.375rem);
  font-weight: 700;
  font-family: "Jost";
}
@media (max-width: 1024px) {
  .header__download-text {
    margin-right: 0;
    order: 1;
  }
}

.footer {
  margin-bottom: 70px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 40px;
  padding: 22px 0 17px 0;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .footer__top {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
@media (max-width: 1280px) {
  .footer__bottom {
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .footer__logo {
    display: inline-block;
  }
}
.footer hr {
  width: 94px;
  height: 0.7px;
  background-color: #8690A1;
}
@media (max-width: 1280px) {
  .footer hr {
    display: block;
  }
}
.footer__avard {
  display: flex;
  align-items: center;
  column-gap: 40px;
  padding-left: 29px;
  border-left: 1px solid #8690A1;
}
@media (max-width: 1280px) {
  .footer__avard {
    margin-bottom: 30px;
    padding-left: 0;
    border-left: 0;
  }
}
.footer__download {
  flex-grow: 1;
  text-align: end;
}
@media (max-width: 1280px) {
  .footer__download {
    text-align: center;
  }
  .footer__download span.footer__langs {
    display: block;
  }
}
.footer__download button {
  margin-left: auto;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .footer__download button {
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 1280px) {
  .footer__available {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.footer__copyright {
  font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
  font-weight: 400;
  font-family: "Jost";
  color: #8690A1;
  text-align: center;
}
.footer__langs {
  font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
  font-weight: 400;
  font-family: "Jost";
}
@media (max-width: 1280px) {
  .footer__langs {
    display: none;
  }
}

.page {
  display: none;
}

.advantages {
  margin-bottom: 86px;
}
@media (max-width: 1024px) {
  .advantages__small-circle {
    left: -30%;
    top: 10%;
  }
}
@media (min-width: 0) and (max-width: 743px) {
  .advantages__small-circle {
    display: none;
  }
}
@media (max-width: 1280px) {
  .advantages__big-circle {
    right: -50%;
  }
}
@media (max-width: 1024px) {
  .advantages__big-circle {
    right: -70%;
  }
}
@media (max-width: 1024px) {
  .advantages__big-circle {
    right: -87%;
    top: -40px;
  }
}
@media (min-width: 0) and (max-width: 743px) {
  .advantages__big-circle {
    display: none;
  }
}
.advantages__container {
  position: relative;
  overflow-x: clip;
}
.advantages__title {
  text-align: center;
  margin-bottom: 100px;
}
@media (max-width: 744px) {
  .advantages__title {
    margin-bottom: 50px;
  }
}
.advantages__list {
  display: flex;
  justify-content: center;
  gap: clamp(1.25rem, 1.722rem - 2.36vw, 0.625rem);
}
@media (max-width: 1280px) {
  .advantages__list {
    flex-wrap: wrap;
  }
}

.update-decor {
  overflow: hidden;
}
.update-decor::after {
  top: 500px;
  right: -450px;
}
@media (max-width: 600px) {
  .update-decor::after {
    z-index: 10;
    top: 600px;
  }
}
@media (max-width: 400px) {
  .update-decor::after {
    z-index: 10;
    top: 800px;
  }
}

.update {
  margin-bottom: 190px;
}
.update__title {
  margin-bottom: 114px;
  text-align: center;
}
.update__title br {
  display: none;
}
@media (max-width: 744px) {
  .update__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
    max-width: 565px;
  }
  .update__title br {
    display: block;
  }
}
.update__descr {
  font-size: clamp(2.125rem, 0.132rem + 4.29vw, 4rem);
  font-weight: 400;
  line-height: 75px;
  font-family: "Jost";
  max-width: 990px;
}
@media (max-width: 1024px) {
  .update__descr {
    line-height: normal;
  }
}
@media (min-width: 0) and (max-width: 743px) {
  .update__descr {
    font-size: clamp(1.75rem, 1.466rem + 1.42vw, 2.125rem);
    font-weight: 400;
    font-family: "Jost";
  }
}
.update__descr-box {
  position: relative;
  margin-bottom: clamp(1.563rem, 0.94rem + 3.11vw, 3.75rem);
  overflow-x: clip;
  overflow-x: visible;
}
.update__descr-box::before {
  content: "";
  position: absolute;
  background: center/cover no-repeat;
  right: -100px;
  top: 0px;
  width: 600px;
  height: 450px;
  background-image: url("../../assets/img/ill_shield.png");
  z-index: -1;
}
@media (max-width: 1024px) {
  .update__descr-box::before {
    opacity: 0.4;
    right: -100px;
    top: -20px;
  }
}
@media (max-width: 744px) {
  .update__descr-box::before {
    width: clamp(25rem, 11.951rem + 54.95vw, 37.5rem);
    top: 80px;
    right: -120px;
  }
}
.update__descr-text {
  display: block;
  width: fit-content;
  border-radius: 0px 9px 9px 0px;
  padding: 15px 22px;
  background-color: #00B67A;
  margin-top: 15px;
}
@media (max-width: 1024px) {
  .update__descr-text {
    padding: 8px 12px;
  }
}
@media (max-width: 744px) {
  .update__descr-text {
    width: clamp(14.313rem, 7.723rem + 27.75vw, 20.625rem);
    padding: 8px 12px;
  }
}
.update__descr-text span {
  color: rgba(255, 255, 255, 0.5);
}
.update__info-link {
  display: block;
  font-size: clamp(1.375rem, 0.966rem + 2.05vw, 2.813rem);
  font-weight: 400;
  font-family: "Jost";
  margin-bottom: 60px;
}
.update__info-title {
  position: relative;
  font-size: clamp(1.375rem, 1.019rem + 1.78vw, 2.625rem);
  font-weight: 400;
  line-height: 48.75px;
  font-family: "Jost";
  padding-left: 56px;
  max-width: 680px;
  display: inline-block;
  margin-bottom: 25px;
}
@media (max-width: 744px) {
  .update__info-title {
    margin-bottom: clamp(2.125rem, 0.238rem + 9.43vw, 4.625rem);
  }
}
@media (max-width: 600px) {
  .update__info-title {
    line-height: normal;
    padding-left: 28px;
  }
}
.update__info-title::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 20px;
  width: clamp(0.625rem, 0.536rem + 0.44vw, 0.938rem);
  height: clamp(0.625rem, 0.536rem + 0.44vw, 0.938rem);
  background-color: white;
  border-radius: 100%;
}
@media (max-width: 600px) {
  .update__info-title::before {
    left: 10px;
    top: 12px;
  }
}
.update__info-title-box {
  display: flex;
  align-items: start;
}
.update__info-title-decor {
  flex-grow: 1;
  display: inline-block;
  height: 2px;
  background: white;
  margin-top: 35px;
}
@media (max-width: 1280px) {
  .update__info-title-decor {
    display: none;
  }
}
.update__info-content {
  padding-left: 56px;
  display: flex;
  gap: 15px;
}
@media (max-width: 1024px) {
  .update__info-content {
    flex-direction: column;
    justify-content: start;
  }
}
@media (max-width: 744px) {
  .update__info-content {
    flex-direction: column;
    justify-content: start;
    row-gap: 0;
  }
}
@media (max-width: 600px) {
  .update__info-content {
    padding-left: 0;
  }
}
.update__info-hr {
  display: none;
}
@media (max-width: 1024px) {
  .update__info-hr {
    display: block;
    width: 100%;
    height: 1px;
    background: white;
    margin-bottom: 45px;
  }
}
.update__info-text {
  position: relative;
  padding-left: 40px;
  max-width: 653px;
  font-size: clamp(1.125rem, 0.947rem + 0.89vw, 1.75rem);
  font-weight: 400;
  font-family: "Jost";
  background: linear-gradient(180deg, #FFF 0.3%, rgba(255, 255, 255, 0) 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .update__info-text br {
    display: none;
  }
}
@media (max-width: 600px) {
  .update__info-text {
    padding-left: 28px;
  }
}
.update__info-text::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 15px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 100%;
}
@media (max-width: 600px) {
  .update__info-text::before {
    left: 12px;
    top: 10px;
  }
}
.update__info-download {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  z-index: 11;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .update__info-download {
    margin: 0;
  }
  .update__info-download::after {
    top: -10px;
  }
}
@media (max-width: 600px) {
  .update__info-download::after {
    object-fit: cover;
    top: -50px;
    filter: none;
  }
}
@media (max-width: 369px) {
  .update__info-download::after {
    right: -20px;
    top: -50px;
    filter: none;
  }
}
.update__info-download-text {
  font-size: 45px;
  font-weight: 300;
  font-family: "Jost";
}

.drivers {
  margin-bottom: 50px;
}
.drivers__title {
  text-align: center;
  margin-bottom: clamp(1.375rem, -0.342rem + 7.32vw, 6.25rem);
}
.drivers__list {
  justify-items: start;
  padding-top: clamp(2.5rem, 1.514rem + 4.15vw, 5.25rem);
  padding-bottom: clamp(2.5rem, 1.514rem + 4.15vw, 5.25rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: clamp(1.25rem, 0.354rem + 3.77vw, 3.75rem);
}
@media (max-width: 1024px) {
  .drivers__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 600px) {
  .drivers__list {
    grid-template-columns: 1fr !important;
    padding-bottom: 0;
  }
}

@media (max-width: 671px) {
  .drivers__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.certified-wrapper {
  position: relative;
  border-radius: 19px;
  padding-bottom: clamp(2.875rem, 2.349rem + 2.25vw, 4.375rem);
  padding-top: clamp(1.563rem, 0.225rem + 5.71vw, 5.375rem);
  margin-bottom: clamp(1.563rem, 0.225rem + 5.71vw, 5.375rem);
}
.certified-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(20px);
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid #17171F;
  background: radial-gradient(100% 100% at 70% 100%, #7686B6 0%, #375DAE 32.69%, rgba(0, 0, 0, 0) 100%), #0A0A14;
}

.certified {
  margin-bottom: clamp(1.563rem, 0.22rem + 5.73vw, 5.375rem);
}
.certified__title {
  text-align: center;
  margin-bottom: clamp(0.688rem, -0.787rem + 6.29vw, 4.875rem);
}
.certified__text {
  position: relative;
  padding: 0 clamp(0rem, -8.151rem + 17.53vw, 7.625rem) 25px clamp(0rem, -8.151rem + 17.53vw, 7.625rem);
  display: flex;
  column-gap: 20px;
  font-size: clamp(1.125rem, 0.906rem + 0.94vw, 1.75rem);
  font-weight: 400;
  font-family: "Jost";
  margin-bottom: clamp(0.75rem, -0.086rem + 3.57vw, 3.125rem);
}
@media (max-width: 1024px) {
  .certified__text {
    column-gap: 0;
    flex-direction: column;
    padding-bottom: 0;
  }
}
.certified__text-left {
  flex-grow: 1;
  padding-left: 80px;
  padding-bottom: 20px;
  padding-top: 40px;
  position: relative;
  border-top-left-radius: 48px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 1024px) {
  .certified__text-left {
    padding-right: 94px;
    padding-left: 94px;
  }
}
@media (max-width: 744px) {
  .certified__text-left {
    padding-left: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
    padding-right: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
  }
}
.certified__text-left::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 30px;
  width: 50%;
  height: 1px;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1));
  filter: blur(0.1px);
}
.certified__text-right {
  padding-right: 80px;
  padding-top: clamp(0rem, -6.681rem + 14.37vw, 6.25rem);
  padding-bottom: 20px;
  position: relative;
  border-bottom-right-radius: 48px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 1024px) {
  .certified__text-right {
    padding-left: 94px;
    padding-right: 94px;
  }
}
@media (max-width: 744px) {
  .certified__text-right {
    padding-left: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
    padding-right: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
  }
}
.certified__text-right::after {
  content: "";
  position: absolute;
  bottom: 1.5px;
  right: 33px;
  width: 50%;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1));
  filter: blur(0.1px);
}
.certified__text::before {
  content: "";
  position: absolute;
  width: 158px;
  height: 158px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../assets/icons/2d.svg") center/cover no-repeat;
  z-index: -1;
}
@media (max-width: 1024px) {
  .certified__text::before {
    left: 75%;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media (min-width: 0) and (max-width: 743px) {
  .certified__text::before {
    left: 50%;
  }
}
@media (max-width: 369px) {
  .certified__text::before {
    left: 40%;
  }
}
.certified__btn {
  display: block;
  margin: 0 auto;
  width: 250px;
  font-weight: 700;
}

.download__title {
  margin-bottom: clamp(0rem, -1.425rem + 6.08vw, 4.063rem);
  text-align: center;
}
.download__content {
  padding: 40px clamp(0rem, -8.151rem + 17.53vw, 7.625rem) 25px clamp(0rem, -8.151rem + 17.53vw, 7.625rem);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
@media (max-width: 1024px) {
  .download__content {
    flex-direction: column;
  }
}
.download__content-left {
  font-size: 28px;
  font-weight: 400;
  font-family: "Jost";
  padding-left: 80px;
  padding-top: 40px;
  max-width: 610px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  border-top-left-radius: 48px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 1024px) {
  .download__content-left {
    padding-right: 0;
    padding-left: 94px;
    max-width: 100%;
    border: 0;
    padding-top: 0;
  }
}
@media (max-width: 744px) {
  .download__content-left {
    padding-left: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
  }
}
.download__content-left::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 30px;
  width: 50%;
  height: 1px;
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1));
  filter: blur(0.1px);
}
@media (max-width: 1024px) {
  .download__content-left::after {
    display: none;
  }
}
.download__content-right {
  padding-top: 40px;
  position: relative;
  padding-right: 25px;
  padding-bottom: 28px;
  border-bottom-right-radius: 48px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .download__content-right {
    order: -1;
    padding-left: 94px;
    padding-right: 94px;
    border: none;
    padding-bottom: 0;
  }
  .download__content-right::before {
    display: none;
  }
}
@media (max-width: 744px) {
  .download__content-right {
    padding-top: clamp(0rem, -2.541rem + 10.84vw, 2.5rem);
    padding-left: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
    padding-right: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
  }
}
.download__content-right::before {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 33px;
  width: 90%;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1));
  filter: blur(0.1px);
}
.download__content-right-box {
  position: relative;
  width: 466px;
  height: 250px;
  background: #0a0a0a;
  border-radius: 48px;
}
@media (max-width: 744px) {
  .download__content-right-box {
    width: clamp(18.625rem, 7.954rem + 45.53vw, 29.125rem);
    height: clamp(8.125rem, 0.503rem + 32.52vw, 15.625rem);
  }
}
@media (max-width: 369px) {
  .download__content-right-box {
    width: 260px !important;
  }
}
.download__content-right-box::after {
  content: "";
  position: absolute;
  width: clamp(13rem, 10.609rem + 5.14vw, 15.25rem);
  height: clamp(17.875rem, 14.886rem + 6.43vw, 20.688rem);
  right: 14%;
  top: -20%;
  background: url("../../assets/icons/cloud.svg") center/cover no-repeat;
}
@media (max-width: 1024px) {
  .download__content-right-box::after {
    top: -10%;
    right: 20%;
  }
}
@media (max-width: 744px) {
  .download__content-right-box::after {
    width: clamp(7.375rem, 1.659rem + 24.39vw, 13rem);
    height: clamp(10.125rem, 2.249rem + 33.6vw, 17.875rem);
  }
}
@media (max-width: 600px) {
  .download__content-right-box::after {
    top: -30%;
    right: 50%;
    transform: translateX(50%);
  }
}
.download__text {
  max-width: 467px;
  font-size: clamp(1.125rem, 0.906rem + 0.94vw, 1.75rem);
  font-weight: 400;
  font-family: "Jost";
  margin-bottom: 33px;
}
@media (max-width: 1024px) {
  .download__text {
    position: relative;
    max-width: 100%;
    width: 100%;
    border-bottom-right-radius: 48px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 188px;
    padding-top: 40px;
    padding-bottom: clamp(0.938rem, -0.65rem + 6.78vw, 2.5rem);
  }
  .download__text::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 50%;
    height: 1px;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1));
    filter: blur(0.1px);
  }
}
@media (max-width: 744px) {
  .download__text {
    padding-right: clamp(0.938rem, -4.08rem + 21.41vw, 5.875rem);
  }
}
.download__btn {
  font-weight: 700;
  font-size: clamp(1rem, 0.868rem + 0.56vw, 1.375rem);
  font-weight: 400;
  font-family: "Jost";
}

.manufacturer {
  margin-bottom: clamp(1.125rem, -0.212rem + 5.71vw, 4.938rem);
}
.manufacturer::after {
  left: -200px;
  bottom: -300px;
  z-index: 10;
}
@media (max-width: 744px) {
  .manufacturer::after {
    left: -400px;
    bottom: -700px;
  }
}
@media (max-width: 600px) {
  .manufacturer::after {
    left: -500px;
  }
}
@media (max-width: 369px) {
  .manufacturer::after {
    left: -600px;
  }
}
.manufacturer__title {
  text-align: center;
  margin-bottom: clamp(0.75rem, 0.005rem + 3.18vw, 2.875rem);
}
.manufacturer__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .manufacturer__inner {
    flex-direction: column;
    align-items: center;
  }
}
.manufacturer__text {
  max-width: 845px;
  font-size: clamp(1.75rem, 0.961rem + 3.37vw, 4rem);
  font-weight: 400;
  font-family: "Jost";
}
@media (max-width: 1280px) {
  .manufacturer__text {
    max-width: 100%;
  }
}
.manufacturer__text span {
  border-radius: 0px 9px 9px 0px;
  background-color: #00B67A;
  padding: 0 22px;
  margin-right: 18px;
}
@media (max-width: 600px) {
  .manufacturer__text span {
    display: block;
    margin-right: 0;
    padding: 0 15px;
  }
}
.manufacturer__toggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 80px;
  width: 8px;
  height: 40px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .manufacturer__toggle {
    right: 0px;
    top: 60px;
  }
}
.manufacturer__toggle:not:has(input:checked) span {
  transform: translateY(-12px);
}
.manufacturer__toggle:has(input:checked) span {
  transform: translateY(12px);
}
.manufacturer__toggle::before, .manufacturer__toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 100px;
  background-color: #113965;
}
.manufacturer__toggle::before {
  top: 0;
}
.manufacturer__toggle::after {
  bottom: 0;
}
.manufacturer__toggle-input {
  position: fixed;
  opacity: 0;
  user-select: none;
}
.manufacturer__toggle span {
  position: absolute;
  height: 28px;
  width: 100%;
  border-radius: 30px;
  left: 0;
  background-color: #197FE3;
  transition: all 0.5s ease;
  z-index: 6;
  top: 0;
}
.manufacturer__info {
  position: relative;
  overflow: hidden;
  width: 590px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: clamp(2.813rem, 1.804rem + 4.3vw, 5.688rem) clamp(0.938rem, -2.022rem + 12.63vw, 9.375rem) 33px clamp(1.125rem, 0.687rem + 1.87vw, 2.375rem);
  -webkit-transition: background-color 10000ms linear;
  -ms-transition: background-color 10000ms linear;
  transition: background-color 10000ms linear;
}
@media (max-width: 600px) {
  .manufacturer__info {
    width: 100%;
  }
}
.manufacturer__info:not(:has(* input:checked)) {
  background: linear-gradient(180deg, rgba(68, 62, 56, 0) 0%, #111115 100%);
}
.manufacturer__info:not(:has(* input:checked))::after {
  opacity: 0;
}
.manufacturer__info:not(:has(* input:checked))::before {
  opacity: 1;
}
.manufacturer__info:has(* input:checked) {
  background: linear-gradient(180deg, rgba(25, 127, 227, 0) 0%, #197FE3 100%);
}
.manufacturer__info:has(* input:checked)::after {
  opacity: 1;
}
.manufacturer__info:has(* input:checked)::before {
  opacity: 0;
}
.manufacturer__info::before, .manufacturer__info::after {
  content: "";
  position: absolute;
  bottom: 30px;
  width: 570px;
  height: 570px;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  transition: opacity 0.4s ease;
}
.manufacturer__info::before {
  right: 0;
  background-image: url("../../assets/img/shield-right.png");
  opacity: 1;
}
.manufacturer__info::after {
  right: -20px;
  background-image: url("../../assets/img/shield-front.png");
  opacity: 0;
}
.manufacturer__info-title {
  display: block;
  font-size: clamp(1.75rem, 1.662rem + 0.37vw, 2rem);
  font-weight: 300;
  line-height: 38.4px;
  font-family: "Jost";
  margin-bottom: clamp(0.875rem, 0.59rem + 1.22vw, 1.688rem);
}
.manufacturer__info-text {
  font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
  font-weight: 300;
  line-height: 32px;
  font-family: "Jost";
  margin-bottom: clamp(1.313rem, 1.006rem + 1.31vw, 2.188rem);
  color: rgba(255, 255, 255, 0.6);
}
.manufacturer__info-windows {
  display: flex;
  column-gap: 60px;
}
@media (max-width: 600px) {
  .manufacturer__info-windows {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }
}
.manufacturer__info-windows-item {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  font-family: "Jost";
  max-width: 102px;
}
@media (max-width: 600px) {
  .manufacturer__info-windows-item {
    display: flex;
    align-items: center;
    column-gap: 21px;
    max-width: 205px;
    line-height: normal;
  }
}
.manufacturer__info-windows-item:nth-child(1) div {
  background-color: #2E77BC;
}
.manufacturer__info-windows-item:nth-child(2) div {
  background-color: white;
}
.manufacturer__info-windows-item:nth-child(2) div svg {
  color: #197FE3;
}
.manufacturer__info-windows-item:nth-child(3) div {
  background-color: rgba(255, 255, 255, 0.3);
}
.manufacturer__info-windows-img {
  width: 65px;
  height: 65px;
  color: white;
}
@media (max-width: 744px) {
  .manufacturer__info-windows-img {
    width: 50px;
    height: 50px;
  }
}
.manufacturer__info-windows-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
  border-radius: 9px;
  margin-bottom: 22px;
}

.functions-wrapper {
  overflow: hidden;
}
.functions-wrapper::after {
  right: -300px;
  top: 950px;
  z-index: 5;
}
@media (max-width: 1280px) {
  .functions-wrapper::after {
    z-index: -5;
    top: 1600px;
    right: -400px;
  }
}
@media (max-width: 600px) {
  .functions-wrapper::after {
    top: 1800px;
  }
}

.functions {
  margin-bottom: 86px;
}
.functions__container {
  margin-bottom: 93px;
}
.functions__title {
  margin-bottom: clamp(2.25rem, 2.031rem + 0.94vw, 2.875rem);
  text-align: center;
}
.functions__list {
  padding-top: clamp(1.25rem, 0.505rem + 3.18vw, 3.375rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: clamp(1.563rem, 0.234rem + 2.86vw, 2.813rem) clamp(1.25rem, -2.736rem + 8.57vw, 5rem);
}
@media (max-width: 1024px) {
  .functions__list {
    justify-content: center;
    padding-right: 5px;
  }
}
@media (max-width: 600px) {
  .functions__list {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}
@media (max-width: 369px) {
  .functions__list {
    padding-right: 2px;
  }
}
.functions__btn {
  cursor: pointer;
  position: absolute;
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  right: 12px;
  bottom: 0;
  transition: transform 0.3s ease;
  z-index: 100;
}
.functions__btn:hover {
  transform: translateY(-4px);
}
.functions__btn-img {
  width: 32px;
  height: 32px;
}
.functions__download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: clamp(0.625rem, 0.43rem + 0.91vw, 1.25rem);
}
.functions__download span {
  font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  font-weight: 400;
  font-family: "Jost";
}

@media (max-width: 795px) {
  .functions__btn {
    bottom: -60px;
    right: 0;
  }
}
.instructions {
  margin-bottom: clamp(0.938rem, -0.489rem + 6.64vw, 5.5rem);
}
.instructions__title {
  margin-bottom: clamp(0.75rem, -0.853rem + 7.45vw, 5.875rem);
  text-align: center;
}
.instructions__descr {
  max-width: 823px;
  margin-bottom: clamp(3.188rem, 1.956rem + 5.73vw, 7.125rem);
  font-size: clamp(1.75rem, 1.046rem + 3.27vw, 4rem);
  font-weight: 400;
  font-family: "Jost";
  position: relative;
}
@media (max-width: 1280px) {
  .instructions__descr {
    max-width: 100%;
  }
}
.instructions__descr::before {
  content: "";
  width: 258px;
  height: 456px;
  position: absolute;
  top: 60px;
  right: -55%;
  background: url("../../assets/icons/stepbystep.svg") center/cover no-repeat;
  z-index: -1;
}
@media (max-width: 1280px) {
  .instructions__descr::before {
    display: none;
  }
}
.instructions__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .instructions__content {
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1.625rem, 1.087rem + 2.5vw, 2.25rem);
  }
}
.instructions__content-left {
  flex-grow: 1 !important;
  padding-left: 24px;
  max-width: 660px;
  width: 100%;
}
.instructions__item {
  width: fit-content;
  position: relative;
  font-size: clamp(1.375rem, 1.179rem + 0.91vw, 2rem);
  font-weight: 700;
  line-height: 44px;
  font-family: "Jost";
  letter-spacing: -0.5px;
}
@media (max-width: 600px) {
  .instructions__item {
    line-height: normal;
  }
}
.instructions__item:hover * span.instructions__item-count {
  color: #00B67A;
}
.instructions__item_active > div.instructions__item-box {
  grid-template-rows: 1fr;
}
.instructions__item_active * span.instructions__item-count {
  color: #00B67A;
}
.instructions__item-top {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6px;
}
.instructions__item-count {
  display: inline-block;
  width: 46px;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  font-family: "YourGrace";
  letter-spacing: 4px;
  color: rgba(0, 182, 122, 0.4);
  transition: color 0.3s ease;
  margin-right: clamp(0.813rem, -0.07rem + 4.11vw, 3.625rem);
}
.instructions__item-img-box {
  height: 96px;
  flex-shrink: 0;
}
.instructions__item-img {
  width: 2px;
  height: 100%;
}
.instructions__item-box {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.7s ease;
  padding-left: 17px;
}
.instructions__item-content {
  min-height: 0px;
  display: flex;
  column-gap: clamp(3.125rem, 2.34rem + 3.65vw, 5.625rem);
}
.instructions__item-text {
  max-width: 370px;
  color: #8690A1;
  font-size: clamp(1.125rem, 1.047rem + 0.36vw, 1.375rem);
  font-weight: 500;
  line-height: 34px;
  font-family: "Jost";
}
@media (max-width: 600px) {
  .instructions__item-text {
    line-height: normal;
  }
}
.instructions__item:not(:last-child) {
  margin-bottom: 42px;
}

@media (max-width: 1367px) {
  .instructions__descr::before {
    right: -30%;
  }
}
.about {
  padding-top: clamp(10.25rem, 7.464rem + 12.96vw, 19.125rem);
  margin-bottom: clamp(2.5rem, 1.617rem + 4.11vw, 5.313rem);
  position: relative;
  user-select: none;
  overflow-x: hidden;
}
.about::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(1, 1, 11, 0) 0%, rgba(1, 1, 11, 0.72) 27.08%, #01010B 62.5%, #01010B 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.about__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .about__video {
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
  }
}
@media (max-width: 600px) {
  .about__video {
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
  }
}
.about__title {
  position: relative;
  z-index: 3;
  max-width: 576px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: clamp(2.5rem, 1.617rem + 4.11vw, 5.313rem);
}
.about__text {
  position: relative;
  z-index: 3;
  max-width: 1360px;
  margin: 0 auto;
  font-size: clamp(1.75rem, 1.044rem + 3.28vw, 4rem);
  font-weight: 400;
  line-height: 75px;
  font-family: "Jost";
  text-align: center;
}
@media (max-width: 600px) {
  .about__text {
    line-height: normal;
  }
}
.about__text-colored {
  display: block;
  background-color: #00B67A;
  width: fit-content;
  margin: 0 auto;
  padding: clamp(0.313rem, 0.116rem + 0.91vw, 0.938rem) clamp(0.625rem, 0.429rem + 0.91vw, 1.25rem);
  border-radius: 9px;
  margin-top: 10px;
}

.customers {
  margin-bottom: clamp(2.75rem, 2.244rem + 2.16vw, 4.188rem);
}
.customers__inner {
  padding: clamp(2.5rem, 1.554rem + 4.04vw, 5.188rem) 0px clamp(2.5rem, 1.284rem + 5.66vw, 6.375rem) clamp(1.25rem, -0.692rem + 9.03vw, 7.438rem);
  border-radius: 19px;
  background: linear-gradient(to right, #1E3255, #4869A1, #010811, #012232);
}
.customers__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: clamp(1.25rem, 0.59rem + 2.82vw, 3.125rem);
  max-width: 1140px;
}
@media (max-width: 744px) {
  .customers__top {
    flex-direction: column;
    align-items: start;
  }
}
.customers__bottom {
  display: flex;
  column-gap: 20px;
}
.customers__title {
  font-size: clamp(2rem, 1.274rem + 3.1vw, 4.063rem);
  font-weight: 400;
  line-height: 75px;
  font-family: "Jost";
  max-width: 430px;
}
@media (max-width: 744px) {
  .customers__title {
    line-height: normal;
  }
}
.customers__action {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 744px) {
  .customers__action {
    margin-left: auto;
  }
}
.customers__action-btn {
  transition: transform 0.3s ease;
  padding: 0;
}
.customers__action-btn:disabled svg {
  color: #4A4A55;
}
.customers__action-btn:hover {
  transform: translateY(-2px);
}
.customers__action-btn.right svg {
  transform: rotate(180deg);
}
.customers__action-btn-img {
  width: 32px;
  height: 32px;
  color: #00B67A;
  transition: color 0.4s ease;
}/*# sourceMappingURL=main.css.map */