@use '../absctract/_variables' as vars
@use '../absctract/_mixins' as mixins

.button
	display: inline-block
	max-width: vars.$button-max-width
	min-width: vars.$button-min-width
	width: 100%
	padding: 12px 25px
	background-color: vars.$primary-color
	border-radius: 32.5px
	transition:  all .3s ease
	&_transparent 
		background-color: transparent
		border: 1px solid #FFF
	&__download
		display: flex
		align-items: center 
		column-gap: 15px
		margin-bottom: 20px
		@include mixins.font(22px)
		&:hover
			background-color: white
			color: vars.$primary-color
			svg
				color: vars.$primary-color
		&-img
			transition: color .3s ease
			width: 32px
			height: 32px
			color: white
	@include mixins.respond(mini-tablet)
		padding: 10px vars.$button-padding
	&:hover
		transform: translateY(-8px)
	&:active
		transform: translateY(-4px)
	