@use '../absctract/_mixins' as mixins

	
#instructions-swiper
	width: clamp(21rem, 13.651rem + 34.18vw, 44.5rem)
	height: clamp(15.75rem, 10.238rem + 25.64vw, 33.375rem)
	@include mixins.respond(small-phone)
		width: 280px
	div.swiper-slide
		overflow: hidden
		border-radius: 30px
		display: flex
		justify-content: center 
		align-items: center
	
	div.swiper-slide img
		border-radius: inherit
		height: 100% 
		object-fit: cover

#customers-swiper

.swiper-slide-sm
	max-width: 570px !important
	transition: max-width .4s ease
	margin-right: 20px
	&_active
		max-width: 650px !important

.swiper-slide-opacity
	opacity: .2 !important
	transition: opacity .4s ease
	&_active
		opacity: 1 !important

@media (max-width: 1140px)
	#customers-swiper
		div.swiper-slide 
			max-width: 100% !important
			width: 100% !important
			padding: 0 15px
	.swiper-slide-sm
		margin-right: 0
			

@media (max-width: 1380px)
	.swiper-slide-sm 
		max-width: 650px !important
	.swiper-slide-opacity
		opacity: 1 !important
