@use '../absctract/_variables' as vars
	
.container 
	max-width: vars.$container-width 
	margin: 0 auto
	padding: 0 vars.$container-padding
	

.green
	color: vars.$secondary-color
.blue
	color: vars.$primary-color