@use '../absctract/_variables' as vars
@use '../absctract/_mixins' as mixins
	
.header
	height: vars.$header-height
	background: rgba(9, 10, 19, 0.80)
	backdrop-filter: blur(10px)	
	position: fixed 
	top: 0
	left: 0
	width: 100%
	z-index: 50
	&__inner 
		display: flex
		align-items: center
		justify-content: start
		column-gap: 40px
		padding: 22px 0 17px 0
	&__avard
		max-width: 193px 
		min-width: 147px
		padding-left: 29px 
		border-left: 1px solid vars.$grey-color
		padding-top: 11px 
	&__download
		flex-grow: 1
		text-align: end
		&-text 
			margin-right: 70px
			color: vars.$secondary-color
			@include mixins.font(22, 700)
		